{% extends 'admin/base.html' %}
{% block title %}مديريت سفارش‌ها{% endblock %}
{% block extra_script %}
<script src="static/js/ordersM.js"></script>
{% endblock %}

{% block content %}

<div>
    <div class="col-11 m-4 d-flex justify-content-end">
        <h3 class="ms-auto mr-4 ml-auto p-2">مديريت سفارش‌ها:</h3>
    </div>
</div>

<div class="col-10 mx-auto mb-5 mytable">
    <div class="col-auto mx-auto text-center text-info" style="margin-top: 100px;">
        <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
        <p class="font-weight-bold mt-3">در حال بارگزاري...</p>
    </div>
</div>

<div class="modal fade" id="order-modal" tabindex="-2" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header p-1">
          <h5 class="modal-title my-1 mr-2">نمايش سفارش</h5>
            <button type="button" class="btn btn-outline-info m-0 p-1 border-0" data-dismiss="modal">
              <i class="fa fa-times-circle" aria-hidden="true"></i> </button>
        </div>
        <div class="modal-body pt-0">
            <div class="col-10 mx-auto my-2" id="order-detail"></div>
            <div class="col-12 mt-4 mx-auto ord-table">
                <div class="col-auto mx-auto text-center text-success" style="margin-top: 20px;">
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    <p class="font-weight-bold mt-3">در حال بارگزاري...</p>
                </div>
            </div>
            <div class="col-12 text-center">
                <button type="button" class="btn btn-info px-5" data-dismiss="modal">بستن</button>
            </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}