{% extends 'base.html' %}
{% block title %}مديريت انبارها{% endblock %}

{% block content %}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body lang="fa" dir="rtl">
<nav class="navbar navbar-light bg-light p-3">
    <h1 class="font-weight-bold">پنل مديريت فروشگاه</h1>
    <div class="btn-group" role="group" dir="ltr">
        <a type="button" class="btn btn-secondary px-4" href="{{ url_for('admin.orders_manage') }}">سفارش‌ها</a>
        <a type="button" class="btn btn-secondary px-4" href="{{ url_for('admin.inventory_price_manage') }}">موجودي و قيمت</a>
        <a type="button" class="btn btn-secondary px-4" href="{{ url_for('admin.inventory_manage') }}">انبارها</a>
        <a type="button" class="btn btn-secondary px-4" href="{{ url_for('admin.product_manage') }}">كالاها</a>
      </div>
    <a class="text-decoration-none ml-2" href="#">بازگشت‌ به سايت <i class="fa fa-home"></i></a>
</nav>
<div>
    <div class="col-11 m-4 d-flex justify-content-end">
        <h3 class="ms-auto mr-4 p-2">مديريت انبار‌ها:</h3>
        <button class="btn btn-sm btn-outline-secondary m-3" data-toggle="modal" data-target="#appendWH">
            افزودن انبار
        </button>

    </div>
</div>

<div class="modal fade" id="appendWH" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header p-1">
          <h5 class="modal-title my-4">افزودن انبار:</h5>
            <button type="button" class="btn btn-outline-secondary m-0 p-1 border-0" data-dismiss="modal">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
        </div>
        <div class="modal-body p-0">
          <form>
            <div class="form-group text-right p-3">
              <label for="nameWH">نام انبار:</label>
              <input type="text" class="form-control border-info mb-3" id="nameWH">
            <div class="text-center">
              <button type="submit" class="btn btn-secondary pb-2 px-5">ثبت‌ انبار</button>
            </div>
        </div>
          </form>
        </div>
      </div>
    </div>
</div>

<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      text-align: center;
      border: 1px solid #dddddd;
      padding: 8px;
    }


    tr:nth-child(even) {
      background-color: #dddddd;
    }


</style>
<div class="col-5 mx-auto mb-5">
    <table>
        <tr>
            <th>نام انبار</th>
            <th></th>
        </tr>
        {% for inventory in inventories %}
        <tr>
            <td>{{ inventory }}</td>
            <td>
                <a class="text-decoration-none font-weight-bold" href="#">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>     ويرايش
                </a> &nbsp; &nbsp;
                <a class="btn btn-outline-danger border-0" href="#" role="button">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

{% endblock %}