{% extends 'admin/base.html' %}
{% block title %}مديريت انبارها{% endblock %}
{% block extra_script %}
<script src="static/js/warehouseM.js"></script>
{% endblock %}

{% block content %}

<div class="col-11 m-4 d-flex justify-content-end">
    <h3 class="ms-auto mr-4 ml-auto p-2" id="esi">مديريت انبار‌ها:</h3>
    <button class="btn btn-sm btn-outline-secondary m-3" data-toggle="modal" data-target="#appendWH">
        افزودن انبار
    </button>
</div>

<div class="modal fade" id="appendWH" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header p-1">
          <h5 class="modal-title my-4">افزودن انبار:</h5>
            <button type="button" class="btn btn-outline-info m-0 p-1 border-0" data-dismiss="modal">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
        </div>
        <div class="modal-body p-0">
          <form id="add-WH-form">
            <div class="form-group text-right p-3">
              <label for="nameWH">نام انبار:</label>
              <input type="text" class="form-control border-info mb-3" name="nameWH" id="nameWH" required>
            <div class="text-center">
              <button type="submit" class="btn btn-info pb-2 px-5" id="final-add">ثبت‌ انبار</button>
            </div>
        </div>
          </form>
        </div>
      </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" id="deleteWH" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <button type="button" class="btn btn-outline-info m-1 p-1 border-0" data-dismiss="modal">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
        <p class="text-right mr-2 mb-0">با حذف اين انبار تمامي كالا‌هاي متعلق به آن نيز از ليست موجودي ها حذف مي‌شوند؛</p>
        <p class="mr-2 mt-0 text-danger">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          آيا از حذف اين انبار اطمينان داريد؟
        </p>
      </div>
      <div class="modal-footer border-info p-1">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
        <button type="button" class="btn btn-danger" id="final-del" data-dismiss="modal">حذف</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modifyWH" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header p-1">
        <h5 class="modal-title my-4">ويرايش انبار</h5>
          <button type="button" class="btn btn-outline-info m-0 p-1 border-0" data-dismiss="modal">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </button>
      </div>
      <div class="modal-body">
        <form id="mod-form">
          <div class="form-group text-right">
            <label for="nameModify">ويرايش نام انبار:</label>
            <input type="text" class="form-control border-info mb-3" name="nameModify" id="nameModify" required>
          <div class="text-center">
            <button type="submit" class="btn btn-info pb-2 px-5" id="final-modify">ذخيره تغييرات</button>
          </div>
      </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="col-5 mx-auto mb-5 mytable">
  <div class="col-auto mx-auto text-center text-info" style="margin-top: 100px;">
        <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
        <p class="font-weight-bold mt-3">در حال بارگزاري...</p>
  </div>
</div>

{% endblock %}