<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 shrink-to-fit=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body lang="fa" dir="rtl">
    <nav class="navbar bg-light p-3">
      <h1>فروشگاه سبزی</h1>
      <div class="d-flex">
        <a
          class="btn btn-secondary m-1"
          href="{{ url_for('admin.product_manage') }}"
          role="button"
          >مدیریت</a
        >
        <a
          class="btn btn-secondary m-1"
          href="{{ url_for('admin.inventory_manage') }}"
          role="button"
          >سبد خرید</a
        >
      </div>
    </nav>

    <div class="row mb-5">
        <div class="col-11 m-auto mt-4 d-flex justify-content-end">
          <h3 class="ms-auto p-2 bd-highlight">نهایی کردن خرید</h3>
        </div>
      </div>


    <div class="container">
    <form>
        <div class="row">
          <div class="col">
              <h6>نام:</h6>
            <input type="text" class="form-control" id="first_name" placeholder="نام خود را به فارسی وارد کنید..." name="first_name">
          </div>
          <div class="col">
            <h6>نام خانوادگی:</h6>
            <input type="text" class="form-control" id="last_name" placeholder="نام خانوادگی خود را به فارسی وارد کنید..." name="last_name">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <h6>آدرس:</h6>
            <textarea class="form-control" id="address" cols="3" rows="5"></textarea>
          </div>
          <div class="col">
            <h6>تلفن همراه:</h6>
            <input type="text" class="form-control" id="phone" placeholder="Enter phone..." name="phone">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
            <h6>تاریخ تحویل:</h6>
            <input type="text" class="form-control" id="date" name="date">
          </div>
        </div>

    </form>
    </div>
    <br> <br>
    <a class="d-grid col-2 mx-auto btn btn-outline-dark m-3" style="background-color: forestgreen; color: white;" href="#" role="button">ثبت نهایی سفارش</a>


      
  </body>
</html>


<!-- how to blue text?? text-blue or color-blue -->
<!-- date ro chikar konim? -->
<!-- how to give height to <button></button> -->

<!-- ####################################################################################################################### -->

      <!-- <div class="container">
        <form action="/action_page.php">
          <div class="form-group">
            <label for="email">نام:</label>
            <input type="text" class="form-control" id="first_name" placeholder="نام خود را به فارسی وارد کنید..." name="email">
          </div>
          <div class="form-group">
            <label for="pwd">نام خانوادگی:</label>
            <input type="text" class="form-control" id="last_name" placeholder="نام خانوادگی خود را به فارسی وارد کنید..." name="pswd">
          </div>
          <div class="form-group">
            <label for="pwd">آدرس:</label>
            <textarea class="form-control" id="address" cols="3" rows="5"></textarea>
        </div>


          <button type="submit" class="btn btn-outline-dark m-3 justify-content-center" style="background-color: forestgreen; color: white">ثبت نهایی سفارش</button>
        </form>
      </div> -->
      
<!-- ####################################################################################################################### -->